.textbox{
    padding: 8px;
    padding-left: 16px;
    border: 2px solid var(--terciary-color);
    width: 300px;
    background-color: var(--background-color);
}

.textbox:focus{
    border: 2px solid var(--primary-color);
    outline: none;
}